p {
	font: georgia 12px;
	color: red;
}
h1, h2, h3 {
	font: helvetica 16px;
	color: blue;
}
ul {
	font: georgia 12px;
	color: purple;
}
.list {
	font: helvetica 10px;
	color: pink;
}
#seq2 {
	font: helvetica 10px;
	color: silver;
}
a:link {
	color: green;
}
a:visited {
	color: aqua;
}
a:hover {
	color: black;
}
a:active {
	color: fuchsia;
}
p:first-letter {
	font-style: bold;
	font: 15px;
	color: black;
}
* {
	text-decoration: underline;
}